.toggle-all + label {
  position: relative;
  font-size: 22px;

  color: #e6e6e6;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.toggle-all:checked + label {
  color: #737373;
}

.toggle-all + label:before {
  display: none;
}

.view a {
  color: #4d4d4d;
  text-decoration: none;
}

header div {
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.new-todo {
  box-shadow: none;
  background: none;
  padding-left: 20px;
}

header div form:first-child {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header div form:last-child {
  flex-grow: 1;
}
