<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>TodoMVC</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/todomvc-common@1.0.5/base.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/todomvc-app-css@2.3.0/index.css">
    <link rel="stylesheet" type="text/css" href="public/css/styles.css">
    <script src="https://unpkg.com/@hotwired/turbo@7.1.0/dist/turbo.es2017-umd.js" type="text/javascript" defer></script>
</head>

<body>
    <section class="todoapp">
        <header class="header">
            <h1>todos</h1>

            <div style="display: flex">
                <form method="POST" action="/toggle-all">
                    <input id="toggle-all" name="toggleAll" class="toggle-all" type="checkbox" value="true"
                        {{if eq .total .completed}}checked{{end}} onchange="this.form.submit()" />
                    {{ if gt .total 0}}<label for="toggle-all">❯</label>{{end}}
                    <input type="submit" style="display: none;" />
                </form>
                <form method="POST" action="/create" style="display: inline">
                    <input name="Text" type="text" {{if not .edit}}autofocus{{end}} autocomplete="off"
                        placeholder="what needs to be done?" class="new-todo" />
                </form>
            </div>
        </header>
        {{ if gt .total 0}}
        <section id="main">

            <ul class="todo-list">
                </form>
                {{ range .todos }}
                <li class="{{if eq $.edit .Id}}editing {{end}}{{if .Done}}completed{{end}}">
                    <form method="POST" action="edit/{{.Id}}">
                        <div class="view">
                            <input class="toggle" name="Done" type="checkbox" {{if .Done}}checked="checked" {{end}}
                                value="true" onchange="this.form.submit()" />
                            <label><a href="/?filter={{$.filter}}&edit={{.Id}}">{{.Text}}</a></label>
                            <button name="action" value="edit" style="display:none"></button>
                            <button class="destroy" name="action" value="delete"></button>
                        </div>
                        <input class="edit" name="Text" type="text" value="{{.Text}}" autofocus
                            onblur="location.href = '/?filter={{$.filter}}'" onfocus="this.select()" />

                    </form>
                </li>
                {{end}}
            </ul>
        </section>
        <footer class=" footer">
            <span class="todo-count"><strong>{{ .total }}</strong> items left</span>
            <ul class="filters">
                <li>
                    <a href="/?filter=all" class="{{if eq .filter "all" }}selected{{end}}">All</a>
                </li>
                <li>
                    <a href="/?filter=active" class="{{if eq .filter "active" }}selected{{end}}">Active</a>
                </li>
                <li>
                    <a href="/?filter=completed" class="{{if eq .filter "completed" }}selected{{end}}">Completed</a>
                </li>
            </ul>
            {{if gt .completed 0 }}
            <form method="POST" action="clear-completed" style="display: inline">
                <button class="clear-completed">Clear completed</button>
            </form>
            {{end}}
        </footer>
    </section>
    {{end}}

</body>

</html>